/* @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Pacifico", cursive; */
}

h1 {
  margin-top: 100px;
  text-align: center;
  text-transform: capitalize;
  font-size: 50px;
  color: green;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  display: inline-block;
  margin-top: 60px;
}

img {
  display: inline-block;
  margin: 0 auto;
}
